/* TODO CSS */

body{
    background-image: url('./images/bg-img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: cursive;
}
.selectGift{
    margin: 5%;
    padding: 10px;
    border: 2px solid#6c757d;
    color: white;
    font-size: 18px;
    width: 15%;
    height: 50px;
    border-radius: 10px;
    display: inline;
    background-color: rgba(237, 55, 55, 0.7) !important;
}

.infoHeader{
    position: absolute;
    top: 38%;
    right: 22%;
    font-family: cursive;
    font-weight: 600;
    font-size: 19px;
}

select:focus > option:checked { 
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.sledDisplay{
    width: 21% !important;
    border: 1px solid;
    border-radius: 15px;
    padding: 20px;
    padding-left: 30px;
    padding-top: 20px;
    margin: 2%;
    margin-left: 5%;
    margin-top: 0px;
    min-height: 5em;
    max-height: 12em;
    font-weight: 600;
    border: 2px solid#6c757d;
    color:rgba(12, 1, 1);
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(237, 55, 55, 0.3);
    background-image: url('../css/images/sled-dwarf.png');
    background-size: 100px 90px;
    background-repeat: no-repeat;
    background-position: center;
}
.info-display{
    float: right;
    width: 328px;
    height: 370px;
    margin: 20%;
    margin-top: 10px;
    margin-right: 10%;
    padding: 20px;
    background-image: url('../css/images/info_bg.png');
    background-size:295px 360px;
    background-repeat: no-repeat;
    background-position: center;
}

.infoMsg{
    margin: 20%;
    margin-top: 33%;
    margin-left: 13%;
    margin-right: 39%;
    padding: 19px;
    font-style: italic;
    padding-left: 0px;
    font-size: 18px;
}

#reqToDeliverId{
    display: none;
    position: fixed;
}
#deliverGiftId{
    position: fixed;
}

.webHeading{
    margin: 25px;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    color: firebrick;
    text-align: center;
}

.preparingGift{
    border: 3px solid red;
    border-radius: 104%;
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 35%;
    color: #6c757d;
    font-weight: 600;
    text-align: center;
    background-image: url('../css/images/giftPrep.jpg');
    background-color: white;
    width: 25%;
    height: 120px;
    background-size: 120px 90px;
    background-position: center;
    background-repeat: no-repeat;
}
